   
html, body {
    width: 100%;
    padding-left: 0px;
    padding-top: 0px;
    background: #FFFFFF;
}

.headerBar {
    position: fixed;
    width: 100%;
    height: 7vw;
    left: 0px;
    top: 0px;

    background: linear-gradient(90deg, #203465 33.24%, #E80B81 100%); 
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    z-index: 98;
}

.headerBarImage {
    position: absolute;
    width: 100%;
    height: 7vw;
    z-index: 97;
}

.logo {
    position: fixed;
    width: 12.5%;
    left: 8vw;
    top: .5vw;
    z-index: 99;
}

.video-container{
  position: fixed;
  left: 7.8vw;
  top: 1vw;
  z-index: 99;
}

.video{
  clip-path: circle(46.5%);
  width: 12.7vw;
}

.registerButton {
  position: fixed;
  width: 22vw;
  left: 68vw;
  top: 12.5vw;

  background: linear-gradient(90deg, #071E5A 0%, #EB3C99 100%);
  box-shadow: 0px 4px 4px #010E34;
  border-radius: 10px;

  font-family: 'Encode Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 1.4vw;
  text-align: center;
  text-decoration: none;
  padding-top: 1vw;
  padding-right: 1vw;
  padding-left: 1vw;
  padding-bottom: 1vw;
  letter-spacing: 0.09em;

  z-index: 7;

  color: #FFFFFF;
}

.dropdown {
    position: absolute;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color:  rgba(232, 11, 129, 0.79);
    width: 100vw;
    height: 10vw;
    top: 7vw;
    
}

.dropdown-content a {
    font-family: 'Encode Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 1.5vw;
    line-height: 2.5vw;
    letter-spacing: 0.09em;
    text-decoration: none;
    display: block;

    color: #FFFFFF;
}

.dropdown-content p {
    font-family: 'Encode Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 1.25vw;
    line-height: 2.5vw;
    letter-spacing: 0.09em;
    text-decoration: none;
    display: block;

    color: #FFFFFF;
}

.column {
    position: absolute;
    width: 50%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.dropdown-content a:hover {
    color: #4DBCBE;
}

.dropdown:hover .dropdown-content {display: block;}

.menuButtonsText {
    font-family: 'Encode Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 1.5vw;
    line-height: 7vw;
    text-align: center;
    vertical-align: center;
    letter-spacing: 0.09em;
    text-decoration: none;
    top: 0vw;
    width: 12vw;
    height: 7vw;

    z-index: 100;

    color: #FFFFFF;
}

.menuAbout {
    position: absolute;
    left: 25vw;
}

.menuPrograms {
    position: absolute;
    left: 35.5vw;
}

.menuPrograms:hover {
    background-color:  rgba(232, 11, 129, 0.79);
}

.menuTournaments {
  position: absolute;
  left: 48vw;
}

.menuTournaments:hover {
  background-color:  rgba(232, 11, 129, 0.79);
}

.menuDropDown {
    left: 52vw;
    top: .75vw;
    height: 14vw;
}

.menuDropDownDescription {
    left: 20vw;
    top: -.25vw;
    height: 7vw;
    width: 28vw;
    font-family: 'Encode Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 2.5vw;
    letter-spacing: 0.09em;
    text-decoration: none;
    text-align: right;
    vertical-align: center;
    padding-right: 2vw;
    border-right: solid .1vw #FFFFFF;
}

.menuConnect {
    position: absolute;
    left: 70vw;
}

.menuConnect:hover {
  background-color:  rgba(232, 11, 129, 0.79);
}

.menuEvents {
    position: absolute;
    left: 60vw;
}

.menuEvents:hover {
    background-color:  rgba(232, 11, 129, 0.79);
}

.menuDropDownProgramsEvents {
    left: 20vw;
    top: -.5vw;
    height: 7vw;
    width: 28vw;
    text-align: right;
    vertical-align: center;
    padding-right: 2vw;
    border-right: solid .1vw #FFFFFF;
}

.menuSponsor {
    position: absolute;
    left: 80vw;
}


.pinkOutButtonImage{
  width: 10vw;
}

.footerBar {
  position: absolute;
  width: 100%;
  height: 8vw;
  left: 0px;

  background: linear-gradient(90deg, #203465 33.24%, #E80B81 100%); 
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.footerImage{
  position: absolute;
  width: 13vw;
  left: 10vw;
  top: 2.25vw;
}

.footerText{
  position: absolute;
  width: 50vw;
  left: 25vw;
  top: .5vw;
  
  font-family: 'Encode Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 1vw;
  line-height: 1.5vw;
  text-align: center;

  color: #FFFFFF;
}

@media screen and (min-width: 481px){
  .header, .menu, .menu-icon, .navicon, .menu-btn {
    display: none;
  }
}

@media screen and (max-width: 481px){
    
    .logo{
        left: 35vw;
        min-width: 30vw;
        top: 6.5vw;

    }

    .headerBar {
      position: fixed;
      width: 100%;
      height: 25vw;
      left: 0px;
      top: 0px;
  
      background: linear-gradient(90deg, #203465 33.24%, #E80B81 100%); 
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      z-index: 98;
  }
  
  .headerBarImage {
      position: absolute;
      width: 100%;
      height: 25vw;
      z-index: 97;
  }

  .video-container{
    position: fixed;
    left: 34vw;
    top: 8vw;
    z-index: 99;
  }
  
  .video{
    clip-path: circle(46.5%);
    width: 32vw;
  }
  

    .header {
        position: fixed;
        text-align: right;
        padding-top: 6vw;
        right: 0px;
        height: 8vw;
        width: 100vw;
        z-index: 9998;
      }
      
      .header ul {
        margin: auto;
        padding: 0;
        list-style: none;
        overflow: hidden;
        background-color:  rgba(232, 11, 129, 0.79);
        text-decoration: none;
      }
      
      .header li a {
        font-family: 'Encode Sans';
        font-style: normal;
        font-weight: 500;
        font-size: 3.5vw;
        letter-spacing: 0.09em;
        text-decoration: none;
        text-align: left;
        color: #FFFFFF;
        padding-left: 5vw;
        padding-top: 5vw;
        padding-bottom: 5vw;
        border-bottom: solid .1vw #071E5A;
        display: block;
        text-decoration: none;
      }


      .header li a:hover {
        color: #4DBCBE;
      }
      
      .header .logo {
        display: block;
        float: left;
        font-size: 4em;
        padding: 8vw 8vw;
        text-decoration: none;
      }
      
      .header .menu {
        clear: both;
        max-height: 0;
        transition: max-height .2s ease-out;
      }

      .header .menu-icon {
        cursor: pointer;
        display: inline-block;
        padding: 5vw 8vw;
        position: relative;
        user-select: none;
      }
      
      .header .menu-icon .navicon {
        background: #333;
        display: block;
        height: 1vw;
        position: relative;
        transition: background .2s ease-out;
        width: 8vw;
        border-radius: 5px;
      }
      
      .header .menu-icon .navicon:before,
      .header .menu-icon .navicon:after {
        background: #333;
        content: '';
        display: block;
        height: 100%;
        position: absolute;
        transition: all .2s ease-out;
        width: 100%;
        border-radius: 5px;
      }
      
      .header .menu-icon .navicon:before {
        top: 2vw;
      }
      
      .header .menu-icon .navicon:after {
        top: -2vw;
      }

      .header .menu-btn {
        display: none;
      }
      
      .header .menu-btn:checked ~ .menu {
        max-height: 120vw;
      }
      
      .header .menu-btn:checked ~ .menu-icon .navicon {
        background: none;
      }
     
      .header .menu-btn:checked ~ .menu-icon .navicon:before {
        transform: rotate(-45deg);
      }
      
      .header .menu-btn:checked ~ .menu-icon .navicon:after {
        transform: rotate(45deg);
      }
      
      .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
      .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
        top: 0;
      }

    .registerButton, .menuAbout, .menuConnect, .menuEvents, .menuPrograms, .menuTournaments, .menuSponsor{
        display: none;
    }
}